// Стили для компонента Icon
.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  
  // Единый стиль для всех иконок
  filter: brightness(0) saturate(100%) invert(0);
  transition: all 0.2s ease;
  
  // Размеры
  &.icon-small {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }
  
  &.icon-medium {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
  }
  
  &.icon-large {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
  }
  
  &.icon-xlarge {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
  }
  
  // Стили для темной темы
  .dark-mode & {
    filter: brightness(0) saturate(100%) invert(1);
    opacity: 0.9;
  }
  
  // Стили для кнопок с иконками
  button &,
  .btn &,
  .icon-btn & {
    pointer-events: none;
  }
  
  // Hover эффект для иконок в кнопках
  button:hover &,
  .btn:hover &,
  .icon-btn:hover & {
    transform: scale(1.1);
    opacity: 1;
  }
}

// Стили для иконок в статистике
.stat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .icon {
    width: 100%;
    height: 100%;
  }
}





