name: Deploy React Build

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_SSH_KEY }}

      - name: Copy build to server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }} \
          "mkdir -p ~/uhack_build/build"
          
          scp -r build/ ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }}:~/uhack_build/

      - name: Move build to frontend folder and reload nginx
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }} << 'EOF'
          sudo cp -r ~/uhack_build/* /var/www/frontend/
          sudo chown -R www-data:www-data /var/www/frontend
          sudo chmod -R 755 /var/www/frontend
          sudo systemctl reload nginx
          EOF
